<!DOCTYPE html>
<html lang="en">
    <head>
        <!--meta-->
         <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!--title-->
        <title>Borrowed</title>

        <!--stylesheets-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css">

        <!-- Favicons -->
        <link href="assets/images/favicon.png" rel="icon">
        <link href="assets/images/apple-touch-icon.png" rel="apple-touch-icon">

        <!--javascript-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!--end head-->
    </head>
    <!--body-->
    <body>

<<<<<<< HEAD
                <nav class="navbar navbar-expand-md navbar-light bg-light header-bar">
=======
                <nav class="navbar navbar-expand-lg navbar-light bg-light header-bar">
>>>>>>> 1f7cccedf635716a2bca27e3a2e013740a9f3fc0

                    <div class="mx-auto order-1">
                        <a id="logo-a" href="/" style="text-decoration:none;"><h1 class="navbar-logo mx-auto" >Borrowed</h1></a>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dual-collapse2" toggle="nav-options">
                                    <span class="navbar-toggler-icon "></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-collapse collapse w-100 order-3 " id="dual-collapse2">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    My Account
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
                                      <a class="dropdown-item" href="memberp">My Profile</a>
                                      <a class="dropdown-item" href="/logout">Log Out</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/search">Search</a>
                            </li>
                            <li class="nav-item">
                                 <a class="nav-link" href="/postit">Post Item</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="main-container">


                {{{ body }}}


            <!--footer-->
            <!-- add about us and other page nav links -->
        </div>
    </body>

    <!--javascript-->
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="assets/javascript/commonScripts.js"></script>
<<<<<<< HEAD
    <script src="assets/javascript/memberp-js.js"></script>
    <script src="assets/javascript/login/login.js"></script>

=======
    <script src="assets/javascript/item-logic.js"></script>
>>>>>>> 1f7cccedf635716a2bca27e3a2e013740a9f3fc0
</html>
