<!DOCTYPE html>
<html lang="en">
    <head>
        <!--meta-->
         <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!--title-->
        <title>Borrowed</title>

        <!--stylesheets-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/memberp-style.css">

        <!--javascript-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!--end head-->
    </head>
    <!--body-->
    <body>
        <div class="container main-container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!--logo and slogan-->
                    <div class="header-bar">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <img class="logo inline" src="assets/images/logo-slogan.png" alt="Borrowed Logo">
                            </div>


                            <!--search bar-->
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <input type="text" class="search-bar" placeholder="What do you need?">
                                <button class="inline" id="searchBarBtn"><a href="/searchresp">Search</a></button>
                            </div>

                            <!-- login/make account -->
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <button id="memberp-button" class="nav-button"><a href="/memberp.handlebars">My Account</a></button>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /header subrow -->
                    </div><!-- /header box -->
                </div><!-- /column -->
            </div><!-- /row -->




            {{{ body }}}


            <!--footer-->
            <!-- add about us and other page nav links -->
        </div>
    </body>

    <!--javascript-->
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script src="assets/javascript/login-signup.js"></script>
    <script src="assets/javascript/commonScripts.js"></script>
    <script src="assets/javascript/memberp-js.js"></script>
</html>
