<!DOCTYPE html>
<html lang="en">
    <head>
        <!--meta-->
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!--title-->
        <title>Borrowed</title>


        <!-- Animated Text and button on Home page -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="Regna/stylesheets/css/style.css">
        <link rel="stylesheet" href="Regna/stylesheets/scss/style.css">


        <!-- Favicons -->
        <link href="Regna/img/favicon.png" rel="icon">
        <link href="Regna/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="Regna/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="Regna/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="Regna/lib/animate/animate.min.css" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link href="../Regna/css/style.css" rel="stylesheet">

        <!--stylesheets-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Raleway:400,500,300' >
        <link rel='stylesheet' type='Regna/text/css' href='https://fonts.googleapis.com/css?family=Raleway:400,500,300' >

        <!--javascript-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!--end head-->
    </head>
    <!--body-->
    <body>

        <header id="header">
            <div class="container">
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="#hero">Home</a></li>
                        <li class="menu-has-children"><a href="">Company Info</a>
                            <ul>
                                <li><a href="#contact">About Us</a></li>
                                <li><a href="#contact">Contact Us</a></li>

                            </ul>
                        </li>
                        <li class="menu-has-children"><a href="">Categories</a>
                            <ul>
                                {{#each categories}}
                                    <!--create line item with category name-->
                                    <li>{{this.name}}</li>
                                    <!--end category loop-->
                                {{/each}}
                            </ul>
    <!--                    To plug in subcategories-->
    <!--                            <li><a href="#">Drop Down 1</a></li>-->
    <!--                            <li class="menu-has-children"><a href="#">Drop Down 2</a>-->
    <!--                                <ul>-->
    <!--                                    {{#each sub-categories}}-->
    <!--                                        create line item with category name-->
    <!--                                        <li>{{this.name}}</li>-->
                                            <!--end category loop-->
    <!--                                    {{/each}}-->
    <!--                                </ul>-->
    <!--                            </li>-->

                        </li>
                        <li><a href = "">Login</a></li>
                        <li id="sign-up-initial"><a href = "/signup">Sign Up</a></li>
                    </ul><!-- end nav menu -->
                </nav><!-- #nav-menu-container -->
            </div>
        </header><!-- #header -->



        <!--search bar-->
<!--        <input type="text" class="search-bar" placeholder="What do you need?">-->

        {{{ body }}}

        <!--==========================
        Footer
        ============================-->
        <footer id="footer">
            <div class="footer-top">
                <div class="container">

                </div>
            </div>

            <div class="container">

            </div>

        </footer>

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->

        <script src="Regna/lib/jquery/jquery.min.js"></script>
        <script src="Regna/lib/jquery/jquery-migrate.min.js"></script>
        <script src="Regna/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="Regna/lib/easing/easing.min.js"></script>
        <script src="Regna/lib/wow/wow.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

        <script src="Regna/lib/waypoints/waypoints.min.js"></script>
        <script src="Regna/lib/counterup/counterup.min.js"></script>
        <script src="Regna/lib/superfish/hoverIntent.js"></script>
        <script src="Regna/lib/superfish/superfish.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script src="assets/javascript/login-signup.js"></script>
        <script src="assets/javascript/commonScripts.js"></script>

        <!-- Contact Form JavaScript File -->
        <script src="Regna/contactform/contactform.js"></script>

        <!-- Template Main Javascript File -->
        <script src="Regna/js/main.js"></script>
        <script src="Regna/js/index.js"></script>
        <script src="Regna/js/text.js/index.js"></script>
        <script src="Regna/s/script.js"></script>


    </body>



</html>
