@charset "UTF-8";
/* CSS Document */
/*
========================================
video
========================================
*/
*, *:before, *:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
.navigation{
  padding-top:30px;
  padding-bottom:30px;
  position:absolute;
  top:0;
  width:90%;
  z-index:1;
}

.navbar-right{
  float:right;
  padding-right:10%;
}

.navbar-right {
  text-decoration:none;
  padding:10px;
  color: #fff;
  font-family:Arial;
  font-weight:900;
}

.navbar-logo{
  padding-left:20px;
  padding-top: 30px;
  font-family:Arial;
  font-size:30px;
  font-weight:bold;
  text-decoration:none;
  color:#fff;
}
/* responsive nav bar */

@media screen and (max-width: 600px) {
  .navbar-right a:not(:first-child) {display: none;}
  .navbar-right a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .navbar-right {position: relative;}
  .navbar-right a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-right.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* video */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.video-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}
/* rotating text */
.text {
  position: absolute;
  padding-top: 25%;
  width: 600px;
  color: #fff;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 600;
  font-size: 40px;

}

h7 {
  display: inline-block;
  vertical-align: top;
  margin: 0;


}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
  -webkit-transform-origin: 50% 50% 25px;
          transform-origin: 50% 50% 25px;
}

.letter.out {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.letter.in {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.purple {
  color: #6b2589;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.red {
  color: #b72121;
}

body {
    background-color: #4d4d4d;
    /* background-image: url("../images/neighborhood.jpg"); */
    /* background-repeat: no-repeat; */
   	background-size: 100%;
  	min-width: 100%;
  	position: relative;
    bottom: 0;
  	height: auto;
  	color: rgb(46, 46, 46);
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-shadow: .04em .04em rgba(227, 223, 223, .7);
}
/*
========================================
TYPOGRAPHY
========================================
*/
h1 {
  text-align:center;
  font-weight:300;
  margin:0 0 40px;
}
p {
    color: #4d4d4d;
}
a {
    color: #00B7FF;
    text-shadow: .03em .03em rgba(255, 255, 255, 0.4);
    transition:.5s ease;
    padding: .2em;
    text-decoration: underline;
}
a.light-link {
    background: rgba(255, 255, 255, .5);
    padding: .5em;
}
.nav-bar {
  width: 950px;
  height: 54px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 99;


}
/* img {
  width: 96px;
  height: 26px;
} */
/* #signup-button {
    color: rgb(46, 46, 46);
    font: 16px;
} */
::placeholder {
    color: rgb(46, 46, 46);
}
li a {
    display:block;
    background: rgba(255, 255, 255, .70);
    padding:15px;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
}
li:hover,
a:hover,
#login-signup-close:hover {
    background:#ff9e04;
    color:#eee;
}
/*
========================================
GRID
========================================
*/
.header-bar {
  	height: auto;
  	width: 100%;
  	position:  relative;
    margin: 0 0 2em 0;
}
.header-subrow {
    position: relative;
    top: -1em;
}
#login-signup-close {
    float: right;
}
.panel {
    background: rgba(255, 255, 255, .5);
    padding: .5em;
}
/* button {
    position: relative;
    margin: .5em auto;
    width: 80%;
    height: 2em; */
}
.search-bar {
    width: 50%;
    height: 2em;
    margin: .5em;
    display: inline;
}
#searchBtn {
  width: 40%;
  display: inline;;
}
.button {
    border:0;
    outline:none;
    border-radius:0;
    padding:15px 0;
    font-size:2rem;
    text-transform:uppercase;
    letter-spacing:.1em;
    background:#a3a3a3;
    color:#eee;
    transition:all.5s ease;
    -webkit-appearance: none;
}
.button:hover,
.button:focus {
    background:#ff9e04;
    color:#eee;;
}
.button-block {
  display:block;
  width:100%;
}
.modal-close {
    height: 2.2em;
    width: 5em;
    font-size: 18px;
    font-family: Impact, Charcoal, sans-serif;
    position: absolute;
    background-color: rgba(163, 163, 163, .7);
    text-align: center;
    padding: .4em .2em .2em .2em;
    margin: .5em auto;
    bottom: -.5em;
}
/*
========================================
IMAGES
========================================
*/
.inline {
    display: inline;
}
.logo {
    width: 90%;
}
.slogan {
    width: 90%;
}
/*
========================================
FORMS
========================================

========================================
LOGIN/SIGNUP
========================================
*/
.form {
    padding: 40px;
    max-width:600px;
    position: relative;
    border-radius: 15px;
    margin: 2em auto;
    vertical-align: middle;
    background-color: rgb(227, 223, 223);
}
.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
}
.tab-group:after {
content: "";
display: table;
clear: both;
}
.tab-content > div:first-child {
  display:none;
}
.field-wrap {
  position:relative;
  margin-bottom:40px;
}
.top-row:after {
    content: "";
    display: table;
    clear: both;
    }
    > div {
    float:left;
    width:48%;
    margin-right:4%;
}
.forgot {
  margin-top:-20px;
  text-align:right;
}
.active a {
    background:#a3a3a3;
    color:#eee;
}
label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color: #00B7FF;
    text-shadow: .05em .05em rgb(77, 77, 77, .3)
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
}
label.req {
    margin:2px;
    color:#a3a3a3;
}
label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
}
label.req {
    opacity:0;
}
label.highlight {
	color:#eee;
}
input,
textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid #a3a3a3;
  color:rgb(46, 46, 46);
    text-shadow: .05em .05em rgba(227, 223, 223, .5);
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
}
input:focus,
textarea:focus {
    outline:0;
    border-color:#a3a3a3;
}
textarea {
  border:2px solid #a3a3a3;
  resize: vertical;
}
/*
========================================
MEDIA QUERIES
========================================
*/
@media screen and (max-width: 991px) {

}


@media screen and (max-width: 767px) {
  #signup-button {
        color: rgb(46, 46, 46);
        font: 18px;
        background-color: rgb(227, 223, 223);
        background-color: rgba(227, 223, 223, .3);
      padding: 1em;
    }
}
