@charset "UTF-8";
/* CSS Document */
/*
========================================
CUSTOM STYLES
========================================
*/
*, *:before, *:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
    background-color: #4d4d4d;
    background-image: url("../images/neighborhood.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
 	background-size: 100%;
	min-width: 100%;
	position: relative;
    bottom: 0;
	height: auto;
	color: rgb(77, 77, 77);
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-shadow: .04em .04em rgba(227, 223, 223, .7);
}
/*
========================================
TYPOGRAPHY
========================================
*/
h1,
h1,
h3,
h4,
h5,
p {
    padding: .2em;
}
h1 {
  text-align:center;
  font-weight:300;
  margin:0 0 40px;
}
h3 {
    font-size: 2em
}
h4 {
    font-size: 1.8em;
}
h5 {

}
h7 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
p {
    color: #4d4d4d;
}
a.light-link {
    background: rgba(255, 255, 255, .5);
    padding: .5em;
}
li a {
    display:block;
    padding:15px;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
}
a {
    color: #00B7FF;
    text-shadow: .03em .03em rgba(255, 255, 255, 0.4);
    transition:.5s ease;
    padding: .2em;
    text-decoration: underline;
}
.div-clickable {
    font-size: 1.2em;
    text-shadow: .05em .05em rgba(170, 166, 166, 0.5);
    padding: .5em
}
.item-name {
    font-size: 1.3em;
    text-align: center;
}
.item-descr {
    font-size: 1em;
    color: #00B7FF;
    text-align: center;
}
.borrow-decl {
    font-size: 1.2em;
}
.reset-color {
   color: rgb(77, 77, 77);
}
.secondary-color {
   color: #00B7FF;
}
.purple {
    color: #6b2589;
}
.belize {
    color: #2980b9;
}
.pomegranate {
    color: #c0392b;
}
.green {
    color: #16a085;
}
.red {
  color: #b72121;
}
.error-mess {
    text-align: center;
    color: #c13232;
    font-size: 1.2em;
}
.centered {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.small {
    font-size: 14px;
}
.large {
    font-size: 20px;
}
.underline {
    text-decoration: underline;
    border-bottom-width: thin;
}
/*
========================================
NAV BAR
========================================
*/
.navbar-logo{
    font-family:Arial;
    font-size:3em;
    font-weight:bold;
    text-decoration:none;
    color: #b72121;
    /* text-shadow: .05em .05em rgba(170, 166, 166, 0.9); */
    padding: .2em;
    margin: .2em auto;
    position: relative;
    top: .4em;
}
li a {
    font-size: 16px;
    width: auto;
    padding: .2em;
    margin: .2em auto;
    position: relative;
    top: .4em;
    position: relative;
    display: inline-block;
    margin: .2em auto;
    text-align: center;
}
.navbar-toggler {
    display: inline-block;
    position: relative;
    width: 100%;
    padding:.2em
    margin: .2em auto;
}
nav {
    margin-left: 0;
    margin-right: 0;
}
.navbar {
    min-height: 60px;
    padding:0 1em 0 1em;
    margin: 0 0 1em 0;
}
.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}
.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}
/*
========================================
GRID
========================================
*/
.header-bar {
  	height: auto;
	width: 100%;
	position:  inherit;
    margin: 0 0 2em 0;
    top: -2.5em;
}
.header-subrow {
    position: relative;
    top: -1em;
}
.panel {
    background: rgba(255, 255, 255, .5);
    padding: .5em;
}
.container {
    border-radius: .3em;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    height: auto;
    margin: .8em auto;
}
.main-container {
    position: relative;
    top: 1em;
    margin: 0 auto 5em auto;
    padding: 1.5em;
}
.main-item-cont {
     background-color: rgba(238, 238, 238, .8);
}
.item-cont {
    display: inline-block;
    position: relative;
    width: 90%;
    margin: .5em auto 2em auto;
}
.wipe-background {
    background: none;
}
.div-clickable {
    text-decoration: none;
    display: block;
}
.approveBorrowRequest,
.denyBorrowRequest {
    position: relative;
    width: 45%;
    margin: 1em auto;
}
.borrowRequest {
    margin: .5em auto;
}
.item-descr {
    padding: .3em;
    margin: .5em auto;
}
.block {
    display: block;
}
.inline {
    display: inline;
}
select {
    padding: .4em;
    margin: .5em auto;
}
/*
========================================
IMAGES
========================================
*/
.logo {
    width: 90%;
}
.slogan {
    width: 90%;
}
.item-photo {
    position: relative;
    z-index: 0;
    top: .6em;
    display: block;
    width: 60%;
    padding-bottom: 1em;
    margin: .1em auto;
    border-radius: 7px;
}
/*
========================================
ICONS
========================================
*/
.field-icon {
    position: absolute;
    right: 1.5em;
    bottom: .8em;
}
span.badge {
    background-color:#be0000;
    color: #eee;
    padding: .3em .3em ;
    margin-right: .3em;
    position: relative;
    bottom: .1em;
}
/*
========================================
FORMS
========================================
*/
button {
    position: relative;
    margin: .5em auto;
    width: 10em;
    height: auto;
    min-height: 2em;
    box-shadow: .2em .2em .4em rgba(0, 0, 0, .4);
    padding: 1em;
}
.button {
    border:0;
    outline:none;
    border-radius:0;
    padding:15px;
    font-size:2rem;
    text-transform:uppercase;
    letter-spacing:.1em;
    background:#a3a3a3;
    color:#eee;
    transition:all.5s ease;
    -webkit-appearance: none;
}
button a {
    text-decoration: none;
}
.button-block {
  display:block;
  width:100%;
}
.close{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.close:before,
.close:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
};
.close:before {
    @include transform(rotate(45deg));
  };
.close:after {
    @include transform(rotate(-45deg));
};
.form {
    padding: 40px;
    max-width:600px;
    position: relative;
    border-radius: 15px;
    margin: 2em auto;
    vertical-align: middle;
    background-color: rgb(227, 223, 223);
}
.field-wrap {
    position:relative;
    margin-bottom:40px;
}
input,
textarea {
    font-size:22px;
    display:block;
    width:100%;
    height:100%;
    padding:5px .2em;
    background:none;
    background-image:none;
    border:1px solid #a3a3a3;
    color:rgb(46, 46, 46);
        text-shadow: .05em .05em rgba(227, 223, 223, .5);
    border-radius:0;
    transition:border-color .25s ease, box-shadow .25s ease;
    margin: .2%;
}
input:focus,
textarea:focus {
    outline:0;
    border-color:#a3a3a3;
}
textarea {
    border:2px solid #a3a3a3;
    resize: vertical;
}
.group {
    margin: .5em auto;
}
input.edit-it  {
    margin-top: 0;
    margin-bottom: 0;
}
.form-text {
    position: relative;
    top: 1em;
    left: 1em;
    padding: .2em;
    margin: .2e,;
}
/*
========================================
VIDEO HANDLING
========================================
*/
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.video-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*
========================================
ROTATING TEXT
========================================
*/
.text {
    position: fixed;
    width: 100%;
    color: #fff;
    height: auto;
    top: 50%;
    left: 32%;
    /* text-shadow: .05em .05em rgba(170, 166, 166, 0.9); */
    font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
    font-weight: 600;
    font-size: 40px;
}
.word {
    position: absolute;
    width: 220px;
    opacity: 0;
    text-shadow: .01em .01em rgba(227, 223, 223, .3);
}
.letter {
    display: inline-block;
    position: relative;
    float: left;
        -webkit-transform: translateZ(25px);
            transform: translateZ(25px);
        -webkit-transform-origin: 50% 50% 25px;
            transform-origin: 50% 50% 25px;
}
.letter.out {
      -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
      -webkit-transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.letter.behind {
      -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
}
.letter.in {
      -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
      -webkit-transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/*
========================================
ANIMATIONS & TRANSITIONS
========================================
*/
.vertTranslate {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
    transition: 2s;
    position: relative;
    top: 10% !important;
    transform: scale(1.2);
}
.vertTranslateFromBot {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
    transition: 2s;
    position: relative;
    bottom: 10% !important;
    transform: scale(1.2);
}
.vertTranslateBig {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
    transition: 2s;
    position: relative;
    top: -40% !important;
    transform: scale(1.2);
}
.vertTranslateBtn {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
    transition: 2s;
    position: relative;
    top: 10% !important;
}
.grow {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
    transition: 1s;
    transform: scale(1.4);
}
.item-photo,
button {
    transition: all .2s ease-in-out;
}
li:hover,
a:hover,
a:focus {
    background:#ff9e04;
    color:#eee;
}
.item-photo:hover,
.image-photo:focus {
    transform: scale(1.1);
}
a.div-clickable:hover,
a.div-clickable:focus {
    background: none;
    color: #ff9e04;
}
button:hover,
button:focus {
    transform: scale(1.04);
    background:#ff9e04;
    color:#eee;;
}
#logo-a:hover {
    background: none;
}
/*
========================================
MEDIA QUERIES
========================================
*/
@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: auto;
        height: 100%;
    }
}
@media screen and (max-width: 991px) {
    .item-photo {
        width: 60%;
    }
}
@media screen and (max-width: 768px) {
    .item-photo {
        width: 35%;
    }
    .text, .text_signup {
        left: 10%;
        overflow:normal;
        width: 60%;
    }
    .item-cont {
        width: 90%;
    }
    .vertTranslate {
      -webkit-transition: 2s;
      -moz-transition: 2s;
      -ms-transition: 2s;
      -o-transition: 2s;
        transition: 2s;
        margin-top: 2% !important;
        transform: scale(1.4);
    }
}
@media screen and (max-width: 480px) {
    .item-photo {
        width: 50%;
    }
    .approveBorrowRequest,
    .denyBorrowRequest {
        width: 90%;
    }
    .text, .text_signup {
        left: 10%;
        overflow:normal;
        width: 20%;
    }
}
@media screen and (max-width: 320px) {

}
