<!DOCTYPE html>
<html>
    <!--head-->
    <head>
        <!--meta-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <!--title-->
        <title>Borrowed</title>
        
        <!--stylesheets-->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
        <link rel="stylesheet" type="text/css" href="#">
        <link rel="stylesheet" type="text/css" href="../public/assets/stylesheets/style.css">

    </head>
    
    <!--body-->
    <body>
        <!--main div-->
        <div class="container main-box">
		  
            <!--logo-->
            <img class="logo" src="../public/assets/images/logo.png" alt="Day Tripper Logo">
            <!--slogan-->
            <p><span id="slogan">Library of Stuff.<em>Together is Better.</em></span></p>
            
            <!--login-->
            <form action="#">

                <div class="container">
                    <!--head-->
                    <h1>Login</h1>
                    <p>Please login to access your account.</p>
                    <hr>
                    
                    <!--username-->
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>
                    
                    <!--password-->
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                    
                    <!--button-->
                    <button type="submit">Login</button>
                    
                </div>
                
                <!--login options-->
                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" class="cancelbtn">Cancel</button>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                </div>
                
            <!--end form-->
            </form>
            
        </div>
        
    </body>
    
</html>
            
            
           