<div class="row">
    <!--spacer-->
	<div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
    <!--main login container-->
	<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 container">
        <p class="error-mess">{{message}}</p> <!-- error message if login fails -->
        <h3 class="secondary-color centered">Log In to Your Account</h3>
        <hr>
        <!--username-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group">
                <input id="username" name="username" placeholder="Email" type="text" class="input loginForm">
            </div>
        </div>
        <!--password-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group">
                <input type="password" id="password" name="password" placeholder="Password" class="input password loginForm" >
                <span toggle="#password" class="field-icon toggle-password">
                    <img src="/assets/stylesheets/open-iconic/svg/eye.svg">
                </span>
            </div>
        </div>
        <!--login button-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group centered">
                <button id="loginSubmitBtn" type="submit" ><a class="large" href="#">Log In</a></button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group centered">
                <p class="small">Oops! I need to 
                    <button class="nav-button"><a href="/signup">Sign Up</a>
                    </button>
                </p>
            </div>
        </div>
    </div><!--end main login container-->

    <!--spacer-->
	<div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
</div>
