
<p style="background:lightgrey; color:red; font-size:25px">{{message}}</p> <!-- info message if needed -->
<form name="myForm" style="background-color:lightgrey;">
    Name: <input type="text" id="it-name" required>
    Description of Item: <input type="text" id="it-descr" >
    Link to Photo of Item: <input type="text" id="it-photo" >
    Item Value:   <input type="text" id="it-value" required>
    Category:
        <select id="it-cat" required>
          <option disabled selected value> -- select a category -- </option>
            {{#each categories}}
                  {{#ifEqual this.parentId 0}}
                    <optgroup label="{{this.categoryName}}">
                  {{/ifEqual}}
                  {{#ifNotEqual this.parentId 0}}
                    <option value="{{this.id}}">{{this.categoryName}}</option>
                  {{/ifNotEqual}}
            {{/each}}
         </select>
         <button type="button" id="addItemSubmitBtn">Add Item</button>
</form>
