


<div class = "row">
    <!--spacer-->
    <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0 "></div>
    <!--main post form container-->
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 container">
        <h2 class="centered">Add an Item for Others to Borrow</h2>
        <hr>
        <p class="error-mess">{{message}}</p> <!-- error message if login fails -->
        <!--item name-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group">
                <input id="it-name" name="it-name" placeholder="Item Name" type="text" class="input" required>
            </div>
        </div>
        <!--item desciption-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group">
                <input id="it-descr" name="it-descr" placeholder="Item Description" type="text" class="input" required>
            </div>
        </div>
        <!--item photo url-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group">
                <input id="it-photo" name="it-photo" placeholder="Item Photo Url" type="text" class="input" required>
            </div>
        </div>
        <!--item value-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group">
                <input id="it-value" name="it-value" placeholder="Item Value for Replacement" type="text" class="input" required>
            </div>
        </div>
        <!--category-->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-0 col-xs-0 ">
                <select id="it-cat" required>
                      <option disabled selected value> -- select a category -- </option>
                        {{#each categories}}
                              {{#ifEqual this.parentId 0}}
                                <optgroup label="{{this.categoryName}}"></optgroup>
                              {{/ifEqual}}
                              {{#ifNotEqual this.parentId 0}}
                                <option value="{{this.id}}">{{this.categoryName}}</option>
                              {{/ifNotEqual}}
                        {{/each}}
                </select>
            </div>
            <!--spacer-->
            <div class="col-lg-9 col-md-9 col-sm-0 col-xs-0 "></div>
        </div>
        <!--add item button-->
        <div class="row">
            <button type="button" id="addItemSubmitBtn"><a href="#">Add Item</a></button>
        </div>

    </div><!--end main post item form container-->
    
    <!--spacer-->
    <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0 "></div>
</div>




  