<!--

item name
item photo link
item condition
item value? - external database
length of borrow allowed

-->

<form name="myForm" action="/action_page.php" onsubmit="return validateForm()" method="post">
Name: <input type="text" name="fname">
<input type="submit" value="Submit">
</form>