    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <button id="login-button" class="nav-button">
                <a href="/login">Log In</a>
            </button>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <a id="signup-button" href="/signup">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
