<div class = "row">
  <input type="text" placeholder="keyword" id="keyword">
  <select id="category">
            <option disabled selected value> -- select a category -- </option>
              {{#each categories}}
                    {{#ifEqual this.parentId 0}}
                      <optgroup label="{{this.categoryName}}">
                    {{/ifEqual}}
                    {{#ifNotEqual this.parentId 0}}
                      <option value="{{this.id}}">{{this.categoryName}}</option>
                    {{/ifNotEqual}}
              {{/each}}
   </select>
   <input type="text" placeholder="zipcode" id="zipcode">
   <button type="button" id="searchSubmitBtn">Search</button>


</div>

<div class = "row" id="Search Results"> <!-- search results -->
</div>
