<div class="row">
    <!--spacer-->
	<div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
    <!--main sign up container-->
	<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 container">
        <p class="error-mess">{{message}}</p> <!-- error message if login fails -->
            <!--first name entry-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group">
                    <input id="firstName" name="firstname" placeholder="First Name" type="text" class="input" required>
                </div>
            </div>
            <!--last name entry-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group">
                    <input id="lastName" name="lastname" placeholder="Last Name" type="text" class="input" required>
                </div>
            </div>
            <!--email entry-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group">
                    <input id="email" name="lastname" placeholder="Email Address" type="text" class="input" required>
                </div>
            </div>
            <!--password entry-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group">
                    <input id="psw" name="lastname" placeholder="Password" type="text" class="input" data-type="password"   required>
                </div>
            </div>
            <!--password re-entry-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group">
                    <input id="psw-repeat" name="lastname" placeholder="Repeat Password" type="text" class="input" data-    type="password" required>
                </div>
            </div>
            <!--zip code entry-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group">
                    <input id="zipCode" name="lastname" placeholder="Zip Code" type="text" class="input" required>
                </div>
            </div>
            <!--submit sign up button-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group">
                    <input id="signupSubmitBtn" type="submit" class="button" value="Sign Up">
                </div>
            </div>
        
        </div><!--end main sign up container-->
    
    <!--spacer-->
	<div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
</div>




