<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Borrowed</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="../public/assets/stylesheets/css/style.css">
  <link rel="stylesheet" href="../public/assets/stylesheets/scss/style.css">

  
</head>

<body>
    <div class="text">
      <p>Borrowing stuff is</p>
        <p>
          <span class="word purple">easy.</span>
          <span class="word belize">wonderful.</span>
          <span class="word pomegranate">fun.</span>
          <span class="word green">fast.</span>
          <span class="word red">free.</span>
        </p>

         <button class="bubbly-button">Click Me!</button>
         
    </div>


    <script src="../public/assets/javascript/index.js"></script>
    <script src="../public/assets/javascript/text.js/index.js"></script>

</body>
</html>
